.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  &-img {
    width: 100%;
  }
  button {
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    &:hover {
      background-color: green;
      opacity: 0.7;
    }
  }
  &-description {
    margin-left: 1rem;
  }
}

.SingleProduct {
  &-img {
    max-height: 22rem;
  }
  &-creator {
    .btn {
      margin-left: 2rem;
    }
  }
  &-btn {
    width: 100%;
  }
}

.ProductUpdateForm {
  .btn {
    margin: 2rem;
  }
}
